 
 #main {
  display:flex;
  justify-content:center;
 }

 .shirts {
  display:flex;
  flex-direction:column;
 }

 .shirts-divs{
  display:flex;
 }

 .hoodies {
  display:flex;
  flex-direction:column
 }

 .hoodies-divs {
  display:flex;
 }

 .pants {
  display:flex;
  flex-direction:column;
 }

 .pants-divs {
  display:flex;
 }
 
 #main > .div-container {
    height:70%;
    width:950px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-bottom:75px;
}

 .clothes-div{
    background-color:white;
    width:250px;
    height:400px;
    margin:1em;
    border: 2px solid gray;
    padding:0px;
}

  .about-wrapper {
    display:flex;
    justify-content:center;
  }

  #about {
    text-align:center;
    color:white;
    background-color:#717171;
    width:100%;
    height:40em;
    border-radius:0px;
    position:relative;
    margin-top:0em;
  }

  .div-container > .shirts {
    margin-top:5em;
    border-bottom: 1px solid white;
    padding-bottom:5em;
    padding-inline:7em;
  }

  .div-container > .hoodies {
    border-bottom: 1px solid white;
    padding-bottom:5em;
    padding-inline:7em;
  }

  #main > .div-container > .shirts > h1 {
    color:white;
    font-size:55px;
  }

  #main > .div-container > .hoodies > h1 {
    color:white;
    font-size:55px;
  }

  #main > .div-container > .pants > h1 {
    color:white;
    font-size:55px;
  }

  #about h1 {
    font-size:50px;
  }

  #about p {
    margin:20px;
    font-size:30px;
    margin-inline:10em;
  }

  .side-menu button {
    width: 100%;
    height: 75px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
    font-size:40px;
    bottom: 125px;
    position:relative;
  }

 
  .header {
    height: 150px;
    margin:0;
    background-color:#717171;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
  }
  
  .header > .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-left:300px;
    margin-top:3em;
  }

  .header > .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .header > .image-container > .logo:hover {
    transform:scale(1.01);
  }

  .header > .header-left {
    display:flex;
    justify-content:center;
    height:50px;
    width:50px;
  }

.header > .nav {
    width:50px;
    display:block;
    margin: 5px;
    transition:0.5s ease;
}

.nav:focus {
    left: 275px;
}

.nav:focus div {
    width:40px;
} 
  
.nav div {
    height:7px;
    background-color:black;
    margin:5px;
    margin-left:10px;
    border-radius:25px;
    transition: 0.3s ease;
    color:black;
}
  

.one {
    width: 40px;
}

.two {
    width: 30px;
}

.three {
    width: 35px;
}

.nav:hover div {
    width: 40px;
}

html,body {
    margin:0;
    width:100%;
    scroll-behavior:smooth;
}

body {
    width:100%;
    height:100vh;
    text-align:center;
    background-color:black;
}



.sidebar{
    position:fixed;
    left:-250px;
    width: 250px;
    height:100%;
    background: darkgray;
    color:black;
    border-style: 1px solid black;
    transition: 0.5s ease;
    top:0;
}



.nav:focus ~ .sidebar  {
    left:0;
}

.sidebar ul {
    list-style:none;
    width:200px;
    padding-left:0;
    text-align:right;
    margin:0px;
    margin-left:20px;
    margin-top:50px;
    position: relative;
    display:flex;
    flex-direction:column;
}

.sidebar ul li a {
    width:100%;
    border: 0.5px solid gray;
    font-size:35px;
    margin:0px;
    margin-right:0px;
    margin-left:0;
    height:50px;
    text-align:right;
    border-left:0;
    border-right:0;
    border-top:0;
    color:black;
    padding-left:15px;
    letter-spacing: 2px;
    overflow:hidden;
    transition: 0.5s;
    z-index:1;
}

.sidebar ul:hover li a {
  opacity: 0.1;
}

.sidebar ul li a:hover {
  transform: scale(1.4);
  z-index:1000;
  border-bottom: 0.5px solid blue;
  opacity:1;
}

.sidebar .sidebar .five a {
    width:100%;
    border: 0.5px solid gray;
    font-size:35px;
    margin:0px;
    margin-left:0;
    height:50px;
    text-align:right;
    border-left:0;
    border-right:0;
    border-bottom:0.5px solid gray;
    color:black;
}

.sidebar .sidebar .one a {
    width:100%;
    border: 0.5px solid gray;
    font-size:35px;
    margin:0px;
    margin-left:0;
    height:50px;
    text-align:right;
    border-left:0;
    border-right:0;
    border-top:0.5px solid gray;
    color:black;
}

nav:focus ~ .menu-item {
    background-color:green;
}

.header-right {
  display:flex;
  justify-content:center;
}

.header-right-button {
    height: 100%;
    padding: 10px;
    background: transparent;
    font-size: 25px;
    margin: 5px;
    margin-top: 0;
    margin-bottom:0;
    transition: 0.5s ease;
    border:none;
    border-radius:5px;
    color:white;
}

.header-right button:hover {
    background-color: black;
    color:white;
    transform:scale(1.1);
    border-radius:10px;
}

@keyframes rainbow {
  0% { background-position: left; }
  100% { background-position: right; }
}

  a {
    text-decoration:none;
    color:none;
  }

 

  #footer {
    height: 200px;
    width: 100%;
    margin-top:200px;
    bottom: 0;
    left: 0;
    background-color: gray;
    margin-bottom:0px;
    display:flex;
    
  }  
  
  .footer-left {
    width: 60%;
    padding: 0 20px;
    background-color:#DBDBDB;
    color:black;
    display:flex;
    justify-content:row;
    align-items:flex-start;
  }
  
  .footer-right {
    width: 40%;
    text-align: right;
    background-color: #DBDBDB;
    color:black;
  }
  
  #footer > .footer-left a {
    color:black;
  }

  #footer > .footer-left a:hover {
    text-decoration:underline;
  }

  .footer-left ul {
    list-style:none;
    margin-top:35px;
  }

  .footer-links li {
    margin:7px;
  }

  .footer-right img {
    color:black;
  }

  hr {
    width:60%;
    border:1px solid white;
  }

  #about hr {
    border:1px solid black;
  }

  .socials {
    margin-top:5em;
  }

  .socials > a > i {
    width:3em;
  }

  a {
    text-decoration:none;
    color:white;
  }

  #map > iframe {
    width: 100%;
  }

.about-wrapper > #about > .form-wrapper > form {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.about-wrapper > #about > .form-wrapper > form > input {
  width:10%;
  margin-block:0.5em;
}

.about-wrapper > #about > .form-wrapper > form > textarea {
  width:15%;
  height:3em;
  margin-bottom:0;
}

 #footer > .footer-left > .footer-links > li > a > p {
  border:1 px solid green;
 }


 
 
 
 
 
 
 
 
 
  @media (max-width: 500px){

  .header {
      height: 150px;
      margin:0;
      background-color:#717171;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
  }

  .header > .header-left {
    display:none;
  }

  .header > .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top:0em;
  }
  
  #main > .div-container {
    height:30%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin:0em;
    align-items:center;
}

  .div-container > .shirts {
    width:100%;
    display:flex;
    align-items:center;
    height:20%;
    margin-block:2.5em;
    border-bottom: 1px solid white;
    padding-bottom:4em;
    padding-inline:0em;
  }

  .div-container > .shirts > h1 {
    font-size:45px;
  }

  .div-container > .shirts > .shirts-divs {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
  }

  #main > .div-container > .shirts > .shirts-divs div {
    margin:1em;
    height:15em;
    width:13em;
  }

  .div-container > .hoodies {
    width:100%;
    display:flex;
    align-items:center;
    height:20%;
    border-bottom: 1px solid white;
    padding-bottom:4em;
    padding-inline:0em;
  }

  .div-container > .hoodies > h1 {
    font-size:45px;
  }

  .div-container > .hoodies > .hoodies-divs {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
  }

  .div-container > .hoodies > .hoodies-divs > div {
    margin:1em;
    height:15em;
    width:13em;
  }

  .div-container > .pants {
    width:100%;
    display:flex;
    align-items:center;
    height:20%;
    margin-bottom:7em;
  }

  .div-container > .pants > h1 {
    font-size:45px;
  }

  .div-container > .pants > .pants-divs {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
  }

  .div-container > .pants > .pants-divs > div {
    margin:1em;
    height:15em;
    width:13em;
  }

  .clothes-div{
    background-color:white;
    width:250px;
    height:400px;
    margin: 30px;
    border: 2px solid gray;
    padding:0px;
}

.sidebar{
  position:fixed;
  left:-250px;
  width: 150px;
  height:100%;
  background: darkgray;
  color:black;
  border-style: 1px solid black;
  transition: 0.5s ease;
  top:0;
}

.sidebar ul {
  list-style:none;
  width:200px;
  padding-left:0;
  text-align:right;
  margin:0px;
  margin-left:0px;
  margin-top:50px;
  position: fixed;
  display:flex;
  flex-direction:column;
}

#about {
  margin-top:20px;
  border-radius:0;
  height:45em;
  background-color: #5d5d5d;
}

#about > p {
  display:flex;
  flex-wrap:wrap;
  margin-inline:0
}

.about-wrapper > #about > .form-wrapper > form > input {
  width:30%;
  margin-block:0.5em;
}

.about-wrapper > #about > .form-wrapper > form > textarea {
  width:40%;
  height:3em;
  margin-block:0.5em;
  margin-bottom:0;

  hr {
    display:none;
  }

  #about hr {
    display:block;
  }
 }

 
 
 
 
 
 
 
 
 
 
 
 @media (max-width: 1000px){
  .header {
    height: 200px;
    margin:0;
    background-color:#717171;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:0;
  }

  .header > .image-container {
    margin:0;
    margin-bottom:2em;
  }

  .header > .image-container > a > img {
    width:20em
  }

  .header-right {
    margin-bottom:1em;
  }

  .header-left > a {
    display:none;
  }

  .header > .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .div-container {
    width: 900px;
  }

  .div-container > div{
    width: 200px;
    height:350px;
  }
  
  hr {
    width:80%;
  }
 }





 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}