.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top:200px;
  }
  
  .menu {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    transition: ease 2s;
  }


  #div-container {
    height: 1200px;
    width:1200px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }

 .clothes-div{
  background-color:white;
  width:250px;
  height:400px;
  margin: 50px;
  padding:0px;
  border: 2px solid red;
}

  .side-menu button {
    width: 100%;
    height: 75px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
    font-size:40px;
    bottom: 125px;
    position:relative;
  }

 
  .header {
    height: 150px;
    margin:0;
    background-color:#DBDBDB;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .logo:hover {
    transform:scale(1.01);
  }

  #btn {
    position:absolute;
}

.nav {
    width:50px;
    display:block;
    margin: 1em 0 0 1em;
    position:absolute;
    top:40px;
    left:15px;
    transition:0.5s ease;
}

.nav:focus {
    left: 275px;
}

.nav:focus div {
    width:40px;
} 
  
.nav div {
    height:6px;
    background-color:black;
    margin:5px 0;
    border-radius:25px;
    transition: 0.3s ease;
    color:black;
}
  

.one {
    width: 40px;
}

.two {
    width: 30px;
}

.three {
    width: 35px;
}

.nav:hover div {
    width: 40px;
}

html,body {
    margin:0;
    width:100%;
}

body {
    width:100%;
    height:100vh;
    text-align:center;
    background-color:black;
}



.sidebar{
    position:fixed;
    left:-250px;
    width: 250px;
    height:100%;
    background: darkgray;
    color:black;
    border-style: 1px solid black;
    transition: 0.5s ease;
}



.nav:focus ~ .sidebar  {
    left:0;
}

.sidebar ul {
    list-style:none;
    width:200px;
    padding-left:0;
    text-align:right;
    margin:0px;
    margin-left:20px;
    margin-top:50px;
}

.sidebar ul li p {
    width:100%;
    border: 0.5px solid gray;
    font-size:35px;
    margin:0px;
    margin-right:0px;
    margin-left:0;
    height:50px;
    text-align:right;
    border-left:0;
    border-right:0;
    border-bottom:0;
}

.sidebar .sidebar .five p {
    width:100%;
    border: 0.5px solid gray;
    font-size:35px;
    margin:0px;
    margin-left:0;
    height:50px;
    text-align:right;
    border-left:0;
    border-right:0;
    border-bottom:0.5px solid gray;
}

nav:focus ~ .menu-item {
    background-color:green;
}

.header-right {
    position: absolute;
    top: 50px;
    right: 25px;
}

.header-right-button {
    height: 100%;
    padding: 10px;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    margin: 5px;
    margin-top: 0;
    margin-bottom:0;
    transition: 0.5s ease;
}

.header-right button {
    height: 100%;
    padding: 10px;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    margin: 5px;
    margin-top: 0;
    margin-bottom:0;
    transition: 0.5s ease;
}

.header-right button:hover {
        background-color: black;
        color:white;
        transform:scale(1.1)  
}



  a {
    text-decoration:none;
    color:none;
  }

 

  #footer {
    height: 200px;
    width: 100%;
    margin-top:400px;
    bottom: 0;
    left: 0;
    background-color: gray;
    margin-bottom:0px;
    display:flex;
    
  }  
  
  .footer-left {
    width: 60%;
    padding: 0 20px;
    background-color:#DBDBDB;
    color:black;
    display:flex;
    justify-content:row;
    align-items:flex-start;
  }
  
  .footer-right {
    width: 40%;
    text-align: right;
    background-color: #DBDBDB;
    color:black;
  }
  
  #footer > .footer-left a {
    color:black;
  }

  #footer > .footer-left a:hover {
    text-decoration:underline;
  }

  .footer-left ul {
    list-style:none;
    margin-top:35px;
  }

  .footer-links li {
    margin:7px;
  }

  .footer-right img {
    color:black;
  }